//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Wed 01 22 15:24:26 2025

IO_LOC "P_DEBUG[7]" 30;
IO_PORT "P_DEBUG[7]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "P_DEBUG[6]" 29;
IO_PORT "P_DEBUG[6]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "P_DEBUG[5]" 16;
IO_PORT "P_DEBUG[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "P_DEBUG[4]" 15;
IO_PORT "P_DEBUG[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "P_DEBUG[3]" 14;
IO_PORT "P_DEBUG[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "P_DEBUG[2]" 13;
IO_PORT "P_DEBUG[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "P_DEBUG[1]" 11;
IO_PORT "P_DEBUG[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "P_DEBUG[0]" 10;
IO_PORT "P_DEBUG[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;


IO_LOC "PCIN[7]" 38;
IO_PORT "PCIN[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "PCIN[6]" 37;
IO_PORT "PCIN[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "PCIN[5]" 36;
IO_PORT "PCIN[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "PCIN[4]" 39;
IO_PORT "PCIN[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "PCIN[3]" 25;
IO_PORT "PCIN[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "PCIN[2]" 26;
IO_PORT "PCIN[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "PCIN[1]" 27;
IO_PORT "PCIN[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "PCIN[0]" 28;
IO_PORT "PCIN[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;

IO_LOC "ROMIN[7]" 86;
IO_PORT "ROMIN[7]" PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "ROMIN[6]" 85;
IO_PORT "ROMIN[6]" PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "ROMIN[5]" 84;
IO_PORT "ROMIN[5]" PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "ROMIN[4]" 83;
IO_PORT "ROMIN[4]" PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "ROMIN[3]" 82;
IO_PORT "ROMIN[3]" PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "ROMIN[2]" 81;
IO_PORT "ROMIN[2]" PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "ROMIN[1]" 80;
IO_PORT "ROMIN[1]" PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "ROMIN[0]" 79;
IO_PORT "ROMIN[0]" PULL_MODE=NONE BANK_VCCIO=1.8;

IO_LOC "CLK" 52;
IO_PORT "CLK" PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "B1UP" 3;
IO_PORT "B1UP" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "B2DOWN" 4;
IO_PORT "B2DOWN" PULL_MODE=UP BANK_VCCIO=1.8;